.settings_container {
    display: flex;
    padding: 10px;
    border: black;
    border-width: 1px;
    border-style: solid;
}

.timestamp_wrapper {
    overflow: auto;
}


.timestamp_container {
    margin-top:10px;
    display: flex;
    border: black;
    border-width: 1px;
    border-style: solid;
}

.time_text {
    flex: 1;
    text-align: center;
    padding:5px;
}

.text_input {
    border: none;
    outline:none;
    /* outline: 2px solid orange; */
    /* height:20px; */
}

.button_container {
    flex: 1;
    display: flex;
}

.button {
    flex: 1;
    border: none;
    background: none;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: grey;
}

